API_NODEJS_BUILD_NAME=cap-clement-kamloops-api
API_NODEJS_DEPLOYMENT_NAME=cap-clement-kamloops-api
API_MONGODB_DEPLOYMENT_NAME=cap-clement-kamloops-api-mongodb
API_MINIO_DEPLOYMENT_NAME=cap-clement-kamloops-api-minio
API_BC_NODEJS_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/cap-eagle-api/kamloops/openshift/templates/
API_DC_MINIO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/murpheux/cap-eagle-api/kamloops/openshift/templates/
API_DC_NODEJS_AND_MONGO_TEMPLATE_FOLDER_URL=https://raw.githubusercontent.com/ActionAnalytics/cap-eagle-api/kamloops/openshift/templates/